<form [formGroup]="formPessoa" (ngSubmit)="onSubmit()">
<div class="mat-elevation-z8 box ">
  <div class="form-group" >
    <label for="nome">Nome</label>
    <input type="text" class="form-control " name="nome" id="nome" formControlName="nome" />
    <div *ngIf="formPessoa.get('nome')?.invalid && (formPessoa.get('nome')?.touched || formPessoa.get('nome')?.dirty)" class="alert">
      <small *ngIf="formPessoa.get('nome')?.errors?.required"> Nome não pode ficar em branco</small>
      <small *ngIf="formPessoa.get('nome')?.errors?.minlength"> Nome tem que ter no minimo 4 letras</small>
  </div>
  </div>
  <div class="form-group">
    <label for="sexo">Sexo</label>
    <input type="text" class="form-control" name="sexo" id="sexo" formControlName="sexo" required/>

    <div *ngIf="formPessoa.get('sexo')?.invalid && (formPessoa.get('sexo')?.touched || formPessoa.get('sexo')?.dirty)" class="alert">
        <small *ngIf="formPessoa.get('sexo')?.errors?.required"> Sexo não pode ficar em branco</small>
        <small *ngIf="formPessoa.get('sexo')?.errors?.minlength"> Sexo tem que ter no minimo 4 letras</small>
    </div>

  </div>
  <div class="form-group">
    <label for="cep">Cep</label>
    <input type="text" class="form-control" name="cep" id="cep" formControlName="cep" maxlength="8" minlength="8"/>
    <div *ngIf="formPessoa.get('cep')?.invalid && (formPessoa.get('cep')?.touched || formPessoa.get('cep')?.dirty)" class="alert">
      <small *ngIf="formPessoa.get('cep')?.errors?.required"> Cep não pode ficar em branco</small>
      <small *ngIf="formPessoa.get('cep')?.errors?.minlength"> Cep tem que ter no minimo 8 digitos</small>
      <small *ngIf="formPessoa.get('cep')?.errors?.maxlength"> Maximo 8 digitos</small>

  </div>
  </div>
  <div class="form-group">
    <label for="numero">Numero</label>
    <input type="number" class="form-control" name="numero" id="numero" formControlName="numero" />

    <div *ngIf="formPessoa.get('numero')?.invalid && (formPessoa.get('numero')?.touched || formPessoa.get('numero')?.dirty)" class="alert">
      <small *ngIf="formPessoa.get('numero')?.errors?.required"> Numero não pode ficar em branco</small>
      <small *ngIf="formPessoa.get('numero')?.errors?.minlength"> Numero tem que ter no minimo 4 letras</small>
  </div>

  </div>
  <div class="form-group">
   <button type="submit" mat-button color="primary" [disabled]="!formPessoa.valid"> Salvar</button>
  </div>
</div>
</form>
