table {
  width: 100%;
}
.person-table{
  background-color: #fefae0
}
.container{
  padding:  50px 80px;
}
.columns{
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}
table th{
  font-size: 18px;
}


.spinner {
  margin-left: 50%;
  margin-top: 15%;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
