<div class="container">
  <button [routerLink]="['/adicionar']" mat-button color="primary">
    Adicionar<mat-icon class="mat-18">add</mat-icon>
  </button>
  <table class="mat-elevation-z8" *ngIf="pessoas$ | async as person; else notFound">
    <tr>
      <th>nome</th>
      <th>sexo</th>
      <th>acoes</th>
    </tr>
    <tr *ngFor="let pessoa of person" class="columns">
      <td [routerLink]="['/pessoa', pessoa.id]">{{ pessoa.nome }}</td>
      <td>{{ pessoa.sexo }}</td>
      <td>
        <button mat-icon-button color="primary" (click)="openDialog(pessoa)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="removePessoa(pessoa)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <ng-template #notFound>
    <br>
    <div class="spinner"></div>
  </ng-template>
</div>
